header > div {
  width: 100%;
  height: 3em;
  background: cadetblue;
  text-align: center;
  vertical-align: middle;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
  line-height: 3em;
}

header > div > input {
  height: 2em;
  width: 2em;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
}
